{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ og_title }}" />
    <meta property="og:description" content="{{ og_description }}" />
    
    <!-- Use the precomputed full image URL -->
    <meta property="og:image" content="{{ image_url }}" />

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% endcompress %}

</head>

<body class="bg-slate-200 dark:bg-dark-hi">

    {% include 'blocks/navbar.html' %}
    
    <div class="container mx-auto mt-10">
        {% block content %}
        {% endblock content %}
    </div>

    {% include 'blocks/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    {% block endJS %}
    {% endblock endJS %}
</body>

</html>
