{% extends 'base.html' %}

{% block content %}
<div class="mt-5 space-y-3 mx-auto md:w-1/2 sm:w-1/3 bg-gray-100 dark:bg-dark-md rounded-md border-2 p-5 border-slate-200 dark:border-slate-700">
    <h2 class="text-center font-bold text-red-500">Group Name: {{ group.name }}</h2>
    <h3 class="text-center font-bold text-green-500">Group code: {{ group.code }}</h3>
    <!-- Success or error messages -->
    {% if messages %}
        <div class="text-green-500">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <h3 class="text-center dark:text-white text-md font-medium mb-2">Group Members</h3>
    <ol class="list-disc pl-5 dark:text-white">
        {% for member in members %}
            <li>{{ member.first_name|capfirst }} {{ member.last_name|capfirst }} | {{ member.username }} 
                
                {% if member.user_gift_preference %}
                    | Added gift ✅
                {% else %}
                    | No gift added yet ❌
                {% endif %}
            
            </li>
        {% endfor %}
    </ol>

    <hr class="my-5">

    <h3 class="text-center dark:text-white text-md font-medium mb-2">Add Your Gift Preferences</h3>
    <form method="POST" action="">
        {% csrf_token %}
        
        <!-- Display the gift preference form -->
        {% for field in gift_preference_form %}
            <div class="mb-4">
                <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    {{ field.label }}
                </label>
                <input 
                    type="{{ field.field.widget.input_type }}" 
                    name="{{ field.name }}" 
                    id="{{ field.id_for_label }}" 
                    value="{{ field.value|default:'' }}" 
                    class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-dark-lt dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                {% if field.errors %}
                    <ul class="text-red-600 text-xs mt-1">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded mt-4">
            Add item
        </button>
    </form>
</div>
{% endblock %}
